# Assignment MySql

### Q1. What is a database? Differentiate between SQL and NoSQL databases.
**Ans:-** A database is a structured collection of data organized for efficient retrieval, storage, and management. It provides a mechanism for defining, creating, manipulating, and querying data. Databases are fundamental components in various software applications, serving as repositories for information that can be easily accessed, updated, and managed.


#### Difference between SQL and NoSQL databases:**

1. **Data Model:**

        - SQL: Follows a structured, tabular data model.
        - NoSQL: Supports various data models, including document, key-value, wide-column, and graph formats.
2. **Schema:**

        - SQL: Requires a predefined schema where the structure of the data (tables and columns) is defined before inserting data.
        - NoSQL: Typically schema-less, allowing for flexibility as data can be inserted without a predefined structure.
3. **Scaling:**

        - SQL: Scales vertically (adding more power to a single machine).
        - NoSQL: Scales horizontally (adding more servers to distribute the load).
4. **Query Language:**

        - SQL: Uses the SQL language for defining and manipulating the data.
        - NoSQL: Uses various query languages depending on the type of database (e.g., MongoDB uses a JSON-like query language).
5. **Transaction Support:**

        - SQL: Generally supports ACID properties (Atomicity, Consistency, Isolation, Durability) ensuring reliability.
        - NoSQL: May sacrifice some of the ACID properties for better performance and scalability.
6. **Use Cases:**

        - SQL: Best suited for applications where the data structure is well-defined and unlikely to change frequently, such as financial applications.
        - NoSQL: Ideal for scenarios with rapidly changing data, evolving requirements, and a need for horizontal scalability, such as real-time big data applications.


### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
**Ans:-**
**DDL (Data Definition Language):**
DDL is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. It includes commands that allow you to define, alter, and drop database objects. DDL is focused on the schema and structure of the database rather than the data itself.

**Common DDL Commands:**

1. **CREATE:**
   - **Purpose:** Used to create a new database object (e.g., table, index, view).
   - **Example:**
     ```sql
     CREATE TABLE employees (
         id INT PRIMARY KEY,
         name VARCHAR(255),
         salary DECIMAL(10, 2)
     );```
     
     

2. **DROP:**
   - **Purpose:** Used to delete an existing database object (e.g., table, index, view).
   - **Example:**
     ```sql
     DROP TABLE employees;
     ```

3. **ALTER:**
   - **Purpose:** Used to modify the structure of an existing database object (e.g., add, modify, or drop columns in a table).
   - **Example:**
     ```sql
     ALTER TABLE employees
     ADD COLUMN department VARCHAR(50);
     ```
4. **TRUNCATE:**
   - **Purpose:** Used to remove all rows from a table, effectively resetting the table to an empty state.
   - **Example:**
     ```sql
     TRUNCATE TABLE employees;
     ```


### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

**Ans:-**
**DML (Data Manipulation Language):**
DML is a subset of SQL (Structured Query Language) used for manipulating and handling data stored in the database. Unlike DDL (Data Definition Language), which deals with the structure of the database, DML focuses on the data itself. DML commands include INSERT, UPDATE, DELETE, and SELECT.

**Common DML Commands:**

1. **INSERT:**
   - **Purpose:** Used to insert new records (rows) into a table.
   - **Example:**
     ```sql
     INSERT INTO employees (id, name, salary)
     VALUES (1, 'John Doe', 50000);
     ```

2. **UPDATE:**
   - **Purpose:** Used to modify existing records in a table.
   - **Example:**
     ```sql
     UPDATE employees
     SET salary = 55000
     WHERE id = 1;
     ```
  
3. **DELETE:**
   - **Purpose:** Used to remove records from a table based on a specified condition.
   - **Example:**
     ```sql
     DELETE FROM employees
     WHERE id = 1;
     ```

### Q4. What is DQL? Explain SELECT with an example.
**Ans:-**
**DQL (Data Query Language):**
DQL is a subset of SQL (Structured Query Language) responsible for querying and retrieving data from a database. The primary DQL command is SELECT, which is used to retrieve data from one or more tables.

**SELECT Command Example:**
```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

- **Example:**
  ```sql
  SELECT employee_id, first_name, last_name
  FROM employees
  WHERE department = 'IT';
  ```


### Q5. Explain Primary Key and Foreign Key.
**Ans:-**
**Primary Key:**
- A primary key is a unique identifier for each record in a table.
- It ensures that each row in a table is uniquely identified by the values in its primary key column(s).
- Primary keys are used to enforce entity integrity and ensure data consistency.
- Example:
  ```sql
  CREATE TABLE students (
      student_id INT PRIMARY KEY,
      student_name VARCHAR(50)
  );
  ```

**Foreign Key:**
- A foreign key is a column or set of columns in a table that refers to the primary key of another table.
- It establishes a link between the two tables, enforcing referential integrity.
- Foreign keys help maintain consistency and relationships between tables.
- Example:
  ```sql
  CREATE TABLE courses (
      course_id INT PRIMARY KEY,
      course_name VARCHAR(50)
  );

  CREATE TABLE student_enrollments (
      enrollment_id INT PRIMARY KEY,
      student_id INT,
      course_id INT,
      FOREIGN KEY (student_id) REFERENCES students(student_id),
      FOREIGN KEY (course_id) REFERENCES courses(course_id)
  );
  ```


### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
**Ans:-**

In [ ]:
import mysql.connector

# Establishing a connection to MySQL
connection = mysql.connector.connect(
    host="your_host",
    user="your_user",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Example: executing a SELECT query
cursor.execute("SELECT * FROM your_table")

# Fetching the results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
connection.close()

### Q7. Give the order of execution of SQL clauses in an SQL query.
**Ans:-**
The order of execution of SQL clauses in a query is as follows:

1. **SELECT:** Specifies the columns to be retrieved.
2. **FROM:** Specifies the table(s) from which to retrieve the data.
3. **JOIN:** Specifies how to combine rows from different tables (if applicable).
4. **WHERE:** Filters the rows based on specified conditions.
5. **GROUP BY:** Groups the rows that have the same values in specified columns.
6. **HAVING:** Filters the grouped rows based on specified conditions.
7. **ORDER BY:** Sorts the result set based on specified columns.
8. **LIMIT/OFFSET:** Specifies the number of rows to retrieve and where to start (optional).