# Assignment Pandas Basic

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
**Ans :-**

In [2]:
import pandas as pd
list1 = [4,8,15,16, 23 ,42]
pd.Series(list1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
**Ans :-**

In [4]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(type(list1))
pd.Series(list1)

<class 'list'>

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:
**Ans :-**

In [11]:
pd.DataFrame([])

    0
0  23
1  22

In [15]:
dict1 = {"Name" : ['Alice','Bob','Claire'],"Age":[25,30,27],"Gender" : ["Female","Male","Female"]}

pd.DataFrame(dict1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
**Ans :-** 
In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types. It is like a spreadsheet or SQL table, where data is arranged in rows and columns. Each column in a DataFrame is a Pandas Series.

In [16]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Gender': ['Female', 'Male', 'Male']}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print("\n")

# Creating a Series
ages = pd.Series([25, 30, 35], name='Age')
print("Series:")
print(ages)

DataFrame:
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male


Series:
0    25
1    30
2    35
Name: Age, dtype: int64

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
**Ans :-**
There are several common functions and methods available in Pandas to manipulate data in a DataFrame. Some of the most commonly used ones include:

head() and tail(), info(), describe(), loc[] and iloc[], drop(), fillna(), groupby(), merge() and concat()

In [17]:
import pandas as pd

# Sample sales data
data = {'Product': ['A', 'B', 'A', 'C', 'B', 'C'],
        'Sales': [100, 150, 200, 120, 180, 130]}

df = pd.DataFrame(data)

# Grouping by product and calculating total sales
sales_by_product = df.groupby('Product')['Sales'].sum()

print(sales_by_product)

Product
A    300
B    330
C    250
Name: Sales, dtype: int64

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
**Ans :-** Among Series, DataFrame, and Panel, only DataFrame is mutable in nature. Both Series and Panel are immutable.

    
### Q7. Create a DataFrame using multiple Series. Explain with an example.
**Ans :-**

In [19]:
import pandas as pd

# Creating multiple Series
s1 = pd.Series([1, 2, 3, 4], name='Column1')
s2 = pd.Series(['A', 'B', 'C', 'D'], name='Column2')
s3 = pd.Series([True, False, True, False], name='Column3')

# Creating a DataFrame using the Series
df = pd.DataFrame({'Column1': s1, 'Column2': s2, 'Column3': s3})

# Printing the DataFrame
print(df)

   Column1 Column2  Column3
0        1       A     True
1        2       B    False
2        3       C     True
3        4       D    False