# Assignment Pandas Advance - 2

In [6]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science','Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.
**Ans :-**

In [7]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
**Ans :-**
1. loc is label-based, so you use index labels and column names.
2. iloc is integer-based, so you use integer indices to access data.

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [9]:
new_df = df.reindex([3,0,1,2])

In [11]:
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [25]:
# Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.967703  0.534862  0.357157  0.623016  0.803341  0.361223
2  0.150387  0.637662  0.502920  0.458983  0.456470  0.549378
3  0.113987  0.822571  0.180204  0.814854  0.975526  0.430022
4  0.877472  0.732790  0.863909  0.757173  0.714894  0.051659
5  0.842988  0.521858  0.458562  0.680379  0.836288  0.674600
6  0.971354  0.215621  0.332696  0.069962  0.086493  0.246391

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
- (i) mean of each and every column present in the dataframe.
- (ii) standard deviation of column, ‘column_2’

In [15]:
df1.mean()

column_1    0.570308
column_2    0.590903
column_3    0.490814
column_4    0.532592
column_5    0.468216
column_6    0.427559
dtype: float64

In [19]:
df1['column_2'].std()

0.326103735340595

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [26]:
df1.loc[2, 'column_2'] = "a"
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.967703  0.534862  0.357157  0.623016  0.803341  0.361223
2  0.150387         a  0.502920  0.458983  0.456470  0.549378
3  0.113987  0.822571  0.180204  0.814854  0.975526  0.430022
4  0.877472   0.73279  0.863909  0.757173  0.714894  0.051659
5  0.842988  0.521858  0.458562  0.680379  0.836288  0.674600
6  0.971354  0.215621  0.332696  0.069962  0.086493  0.246391

In [28]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The error occurs because the mean() function cannot calculate the mean of a column containing both numeric and string values.

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

**Ans :-** In pandas, window functions are used to perform operations on a rolling or expanding window of data in a DataFrame. These functions allow you to calculate statistics or apply custom functions over a specified window of consecutive rows.

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [29]:
import pandas as pd

current_date = pd.Timestamp.now()

current_month = current_date.month
current_year = current_date.year

print("Current month:", current_month)
print("Current year:", current_year)

Current month: 4
Current year: 2024

###  Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [31]:
import pandas as pd

def calculate_time_difference(start_date, end_date):
    start_datetime = pd.to_datetime(start_date)
    end_datetime = pd.to_datetime(end_date)

    time_difference = end_datetime - start_datetime

    days = time_difference.days
    hours = time_difference.seconds // 3600
    minutes = (time_difference.seconds // 60) % 60

    return days, hours, minutes

def main():
    start_date = input("Enter the start date (YYYY-MM-DD): ")
    end_date = input("Enter the end date (YYYY-MM-DD): ")

    days, hours, minutes = calculate_time_difference(start_date, end_date)

    print(f"Time difference: {days} days, {hours} hours, {minutes} minutes")

if __name__ == "__main__":
    main()

Enter the start date (YYYY-MM-DD): 2023-05-23
Enter the end date (YYYY-MM-DD): 2024-04-11
Time difference: 324 days, 0 hours, 0 minutes