## Python Assignment 1

**Q1.** Create one variable containing following type of data:
- (i) string
- (ii) list
- (iii) float
- (iv) tuple

**Answer :-**

In [2]:
a = 'Aman'
type(a)

str

In [3]:
b = [2,4,"aman"]
type(b)

list

In [4]:
c = 2.43
type(c)

float

In [5]:
d = (1,2,43,5)
type(d)

tuple

-----

**Q2.** Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

**Answer :-**

In [7]:
#Type (i) String
var1 = ''
type(var1)

str

In [9]:
# (ii) str
var2 = '[ DS , ML , Python]'
type(var2)

str

In [11]:
# (iii) list
var3 = [ 'DS' ,'ML' , 'Python']
type(var3)

list

In [13]:
# (iv) float
var4 = 1.
type(var4)

float

---

**Q3.** Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

**Answer :-**
1) "/" is used for division and returns a floating-point result

In [15]:
a = 10
b = 3
rslt = a/b
print(rslt)

3.3333333333333335

2. "%" is used for finding the remainder of a division operation.

In [16]:
a = 10
b = 3
remainder = a % b
print(remainder)

1

3. "//" is used for floor division, ensuring the result is an integer.

In [18]:
a = 10
b = 3
rslt = a // b
print(rslt)

3

4. ** is used for exponentiation, raising one number to the power of another.

In [19]:
a = 2
b = 3
rslt = a ** b
print(rslt)

8

---

**Q4.** Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

**Answer :-**

In [22]:
list1 = [1,2.3,'aman',[1,2],(3,4),{6,7},{'name':'Aman Sharma'},2+3j,True,0b1110]
for i in list1:
    print('Value :- ',i,' its data type :- ', type(i))

Value :-  1  its data type :-  <class 'int'>
Value :-  2.3  its data type :-  <class 'float'>
Value :-  aman  its data type :-  <class 'str'>
Value :-  [1, 2]  its data type :-  <class 'list'>
Value :-  (3, 4)  its data type :-  <class 'tuple'>
Value :-  {6, 7}  its data type :-  <class 'set'>
Value :-  {'name': 'Aman Sharma'}  its data type :-  <class 'dict'>
Value :-  (2+3j)  its data type :-  <class 'complex'>
Value :-  True  its data type :-  <class 'bool'>
Value :-  14  its data type :-  <class 'int'>

---

**Q5.** Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

**Answer :-**

In [25]:
a = int(input("Enter number a: "))
b = int(input("Enter number b: "))
c = a
count = 0
while a % b == 0:
    a = a / b
    count += 1
if a == 1:
    print(f"{c} is purely divisible by {b} {count} times.")
else:
    print(f"{c} is not purely divisible by {b}.")

Enter number a:  40
Enter number b:  3

40 is not purely divisible by 3.

---

**Q6.** Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

**Answer :-**

In [26]:
list1 = [12, 6, 8, 9, 15, 18, 21, 25, 30, 33, 42, 48, 55, 60, 63, 70, 75, 80, 88, 90, 99, 100, 105, 110, 120]
for i in list1:
    if i%3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

12 is divisible by 3
6 is divisible by 3
8 is not divisible by 3
9 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
25 is not divisible by 3
30 is divisible by 3
33 is divisible by 3
42 is divisible by 3
48 is divisible by 3
55 is not divisible by 3
60 is divisible by 3
63 is divisible by 3
70 is not divisible by 3
75 is divisible by 3
80 is not divisible by 3
88 is not divisible by 3
90 is divisible by 3
99 is divisible by 3
100 is not divisible by 3
105 is divisible by 3
110 is not divisible by 3
120 is divisible by 3

---

**Q7.** What do you understand about mutable and immutable data types? Give examples for both showing this property.

**Answer :-**

Mutable data types can be modified after creation (list, dictionaries), while immutable data types cannot be changed once they are created (strings, tuples).

In [28]:
# Mutable data types (list)
list1 = [1, 2, 3]
print("Before Modification :- ",list1)
list1[0] = 4  # Modifying an element in the list
print("After Modification :- ",list1)

Before Modification :-  [1, 2, 3]
After Modification :-  [4, 2, 3]

In [30]:
tuple1 = (1,2,4)
tuple1[0] = 5
# Will get error
print(tuple1)

TypeError: 'tuple' object does not support item assignment

---